/* Raspberry Pi hosted Website
 * Author:  Jerry Cheung
 * Date:    2025-12-11
 * File:    style.css
 * Description: css file stylesheet for my html website
 * Version: 1.01
 */

body {
    /*fallback color if image fails to load*/
    background-color: #f5f5f5;

    /*background image filling the whole page*/
    background-image: url('background_main.png');
    background-size: cover; /*cover entire screen*/
    background-position: center;
    background-attachment: fixed; /*parallax like effect*/

    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

h1 {
    font-size : 36px;
    margin-bottom: 5px;
    color: #222;
}

h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #555;
}

h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 4px;
}

p {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 16px;
}

ul {
    margin-bottom: 20px;    /*space outsite the list*/
    padding-left: 20px;     /*indent inside the list*/
}

.container{
    max-width: 800px;   /* limit width*/
    margin: 0 auto;     /* center container horizontally*/
    padding: 20px;      /* space inside container*/

    background: rgba(255, 255, 255, 0.85); /*white with 85% opacity*/
    border-radius: 10px;  /* soft rounded corners */
    

}

a {
    color: #2563eb; /*links to modern blue*/
    text-decoration: none; /*removes default underline from links*/
    font-weight: 500; /*links slight thicker*/
}

a:hover {
    text-decoration: underline; /*underline when mouse hovers*/
}

.top-nav{
    display: flex;  /*line up horizontally*/
    justify-content: flex-end; /*push all nav links to the right side*/
    gap: 24px;

    padding: 20px 40px;
    font-size: 16px;
}
.top-nav a{
    text-decoration: none;
    color: lightgreen;
}
.top-nav a:hover{
    text-decoration: underline;
}

.home-section {
    margin-top: 32px;
    padding-top: 8px;
}